DB_HOST=db
DB_NAME=library
DB_USER=library
DB_PASSWORD=change_me
PGDATA=/var/lib/postgresql/data/pgdata

SECRET_KEY=change_me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
BASE_URL=http://localhost:8000

STRIPE_SECRET_KEY=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
