Django==6.1
djangorestframework==3.18.0
djangorestframework-simplejwt==5.5.1
drf-spectacular==0.30.0
psycopg2-binary==2.9.12
coverage==7.11.3
django-q2==1.10.0
stripe==11.4.1
requests==2.32.3
flake8==7.3.0
flake8-quotes==3.4.0
flake8-variables-names==0.0.5
pep8-naming==0.13.2
